USE [master]
GO
/****** Object:  Database [KvizAnaD]    Script Date: 1.9.2020. 22:17:43 ******/
CREATE DATABASE [KvizAnaD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KvizAnaD', FILENAME = N'C:\Users\AnnieD\KvizAnaD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'KvizAnaD_log', FILENAME = N'C:\Users\AnnieD\KvizAnaD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KvizAnaD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KvizAnaD]
GO
USE [KvizAnaD]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 1.9.2020. 22:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[AdminID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[AdminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Odgovori]    Script Date: 1.9.2020. 22:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Odgovori](
	[OdgovoriID] [int] IDENTITY(1,1) NOT NULL,
	[text] [nvarchar](max) NULL,
	[PitanjaID] [int] NOT NULL,
	[IsCorect] [bit] NULL,
 CONSTRAINT [PK_Odgovori] PRIMARY KEY CLUSTERED 
(
	[OdgovoriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pitanja]    Script Date: 1.9.2020. 22:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pitanja](
	[PitanjaID] [int] IDENTITY(1,1) NOT NULL,
	[text] [nvarchar](max) NULL,
 CONSTRAINT [PK_Pitanja] PRIMARY KEY CLUSTERED 
(
	[PitanjaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 1.9.2020. 22:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[BestScore] [int] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserPitanja]    Script Date: 1.9.2020. 22:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserPitanja](
	[UserPitanjaID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[PitanjaID] [int] NOT NULL,
	[Rezultat] [int] NULL,
 CONSTRAINT [PK_UserPitanja] PRIMARY KEY CLUSTERED 
(
	[UserPitanjaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Odgovori]  WITH CHECK ADD  CONSTRAINT [FK_Odgovori_Pitanja] FOREIGN KEY([PitanjaID])
REFERENCES [dbo].[Pitanja] ([PitanjaID])
GO
ALTER TABLE [dbo].[Odgovori] CHECK CONSTRAINT [FK_Odgovori_Pitanja]
GO
ALTER TABLE [dbo].[UserPitanja]  WITH CHECK ADD  CONSTRAINT [FK_UserPitanja_Pitanja] FOREIGN KEY([PitanjaID])
REFERENCES [dbo].[Pitanja] ([PitanjaID])
GO
ALTER TABLE [dbo].[UserPitanja] CHECK CONSTRAINT [FK_UserPitanja_Pitanja]
GO
ALTER TABLE [dbo].[UserPitanja]  WITH CHECK ADD  CONSTRAINT [FK_UserPitanja_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[UserPitanja] CHECK CONSTRAINT [FK_UserPitanja_User]
GO
USE [master]
GO
